a {
  color: #2563eb;
  display: inline;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #d4d4d8;
  transition: color 200ms ease, text-decoration-color 200ms ease;

  &:visited {
    color: #2563eb;
  }

  &:hover {
    text-decoration-thickness: 1.15px;
    color: #2563eb;
    text-decoration-color: #60a5fa;
  }

  @media (prefers-color-scheme: dark) {
    color: #478bE6;
    text-decoration-color: #52525b;

    &:visited {
      color: #478bE6;
    }

    &:hover {
      color: #60a5fa;
      text-decoration-color: #2563eb;
    }
  }
}
